.div1 {
    background-color: rgb(247, 159, 159);
    height: 100px;
    width: 150px;
    text-align: center;
    align-content: center;
}

.div2 {
    background-color: rgb(138, 253, 138);
    height: 100px;
    text-align: center;
    align-content: center;
    flex: 1;
}

.div3 {
background-color: rgb(31, 25, 75);
    height: 100px;
    text-align: center;
    align-content: center;
    flex: 2;
}

.flexbox-container{
    display: flex;
    flex-direction: row;
}