.div1{
    background-color: rgb(249, 199, 106);
    height: 12.5rem;
    width: 12.5rem;
    text-align: center;
    align-content: center;
    margin-bottom: 40px;
}

.div2{
    background-color: rgb(104, 104, 247);
    height: 12.5rem;
    width: 12.5rem;
    text-align: center;
    align-content: center;
}

.target{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5rem;
    align-content: center;   
}


body{
    padding-top: 6rem;
    padding-left: 8rem;
}

